<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">THE DIARIST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link barlow-m" routerLink="/accueil" title="Accueil">Le Projet</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link barlow-m" routerLink="/generateur" title="">Générateur</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link barlow-m" href="#" title="">A propos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
