<section  class="section-generateur fade-in">
    <div class="container">        
      <div class="row my-5 d-flex justify-content-end">
        <div class="col-lg-6">
          <div class="mb-4 border">
            <h1>LE GENERATEUR</h1>
            Article
          </div>
        </div>
        <div class="col-lg-1">
          <div class="mb-4"></div>
        </div>
      </div>

      <div class="row flex-column align-items-center justify-content-center">
        <div class="col-md-6 row flex-column align-items-center">
          <div class="mb-4 col border text-center">
              <p class="animation-text" id="content"><?= $content?></p>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <div class="mb-4 border row justify-content-center">
              <a class="btn px-2 btn-generator" id="btn">Tester le générateur</a>
          </div>
          </div>
      </div>
    </div>      
</section>
